// Colors
$primary-color-light: #F2CBC2;
$primary-color-dark: #BF7973;
$secondary-color-dark: #414141;
$secondary-color-light: #f5faff;
$white: #ffffff;
$gray: #8a8a8a;
$alert-color: #ee7474;
$success-color: #74ee84;

// Font Family - Source Sans Pro
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

html {
    font-size: 62.5%;    
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-size: 1.6rem;
    color: $secondary-color-dark;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    align-items: center;
    height: 5.0rem;
    background-color: $primary-color-light;
    color: $secondary-color-dark;

    &:is(header) {
        padding: 0 2.4rem;
        h1 {
            font-weight: 600;
            font-size: 2.589rem;
            user-select: none;
        }
    }

    &:is(footer) {
        justify-content: center;
    }
}

section {
    background-color: $secondary-color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    .todo-box {
        height: 80%;
        width: 50%;
        background-color: $white;
        padding: 3.2rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        border-radius: 8px;

        form {
            display: flex;
            gap: 2.4rem;

            input {
                flex: 1;
                border: none;
                border-bottom: 2px solid $primary-color-dark;
                padding-left: 0.8rem;
                font-family: 'Source Sans Pro', sans-serif;
            }

            button {
                width: 15rem;
                height: 3.2rem;
                background-color: $primary-color-light;
                color: $secondary-color-dark;
                font-weight: 600;
                border-radius: 4px;
                border: none;
                font-family: 'Source Sans Pro', sans-serif;
            }
        }

        ul > li {
            display: flex;
            height: 4rem;
            align-items: center;
            margin-bottom: 0.8rem;
            padding: 0 0.8rem;

            .task-checkbox {
                width: 24px;
                height: 24px;
                border-radius: 4px;
                border: 2px solid $primary-color-dark;
                cursor: pointer;

                &.done {
                    background-color: $success-color;
                    border-color: darken($success-color, 10);
                    transition: ease-in 0.1s;

                    & ~ h2 {
                        font-weight: 400;
                        text-decoration: line-through;
                        color: $gray;
                    }
                    
                    &:before {
                        display: flex;
                        justify-content: center;
                        content: '\2714'; // check mark
                        font-size: 1.6rem;
                        color: $secondary-color-dark;
                    }
                }
            }

            h2 {
                margin-left: 0.8rem;
                flex: 1;
                font-weight: 600;
            }

            .options {
                display: flex;
                gap: 0.8rem;
                font-size: 1.2rem;

                & > div {
                    cursor: pointer;
                }
            }

            &:hover {
                background-color: $secondary-color-light;
                border-radius: 4px;
                transition: ease-in 0.1s;
            }
        }

        .empty {
            text-align: center;
            font-size: 2.4rem;
            margin-top: 3.2rem;
        }
    }
}

.icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;

    &.trash {
        background-image: url(../../icons/trash-can-regular.svg);
    }

    &.pencil {
        background-image: url(../../icons/pen-to-square-regular.svg);
    }
}